<template>
    <div class="addressbox box box-primary">
        <div class="hidden error alert alert-warning alert-dismissible">
            <button type="button" class="close" data-hide="alert" aria-hidden="true">?</button>
            <h4><i class="icon fa fa-warning"></i> Error!</h4>
            <div class="errormessage">

            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <label>Address
                    <input type="text" name="name" v-model="address.address1"/>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>Address 2
                    <input type="text" name="name" v-model="address.address2"/>
                    </label>
                </div>
            </div>
            <button class="btn btn-info" v-on:click="save">Save</button>
        </div>
    </div>
</template>

<script>
    window.Vue = require('vue');
    var VueResource = require('vue-resource');
    window.Vue.use(VueResource);

    Vue.http.interceptors.push((request, next) => {
        request.headers.set('X-CSRF-TOKEN', window.Laravel.csrfToken);
        console.log(window.Laravel.csrfToken);
        next();
    });

    export default {
        data () {
            return {
                id: this.$route.params.id,
                address: {},
                addresses: {},
            }
        },

        methods: {
            init: function () {
                var self = this;
                this.$http.get("/admin/address/" + self.id).then(response => {
                    self.customer = response.body.data.customer;
                }, response => {
                    console.log("error");
                });
            },
            save: function () {
                var self = this;
                this.$http.put("/admin/address/" + self.customer.id, self.customer
                ).then(response => {
                    this.$router.push({name: "admincustomertable"});
                }, response => {
                    var errorString = response.body.errors.join("<BR/>");
                    jQuery("#usereditbox > div.error > div.errormessage").html(errorString);
                    jQuery("#usereditbox > div.error ").removeClass("hidden");
                    jQuery("#usereditbox > div.error ").show();
                    console.log("error");
                });
            }
        },
        mounted () {
            this.init();
        }
    }


</script>
